.doc-page {

    > .header {
        height: 60px !important;
        min-height: 60px !important;
        max-height: 60px !important;
        padding: 5px !important;

        .reference-button {
            padding: 0 8px;
            min-width: 45px;

            span {
                margin-left: 4px;
            }
        }
    }

    > .content {
        /* max-width: 1200px; */

        .description {
            margin-bottom: 32px;
        }

        .card {
            background: #FFFFFF;
            margin: 16px 0 48px 0;
            padding: 24px;

            .preview,
            .source-code {
                margin: 8px;
            }

            .preview {
                background: #F9FAFB;
                min-height: 90px;
                padding: 8px 16px;
            }

            .source-code {
                background: #F3F4F6;
                position: relative;

                [hljs], hljs {
                    display: block;
                    background-color: transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        .attributes {
            margin: 16px 0 48px 0;
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    .doc-page {

        .source-code {
            min-height: 120px;
        }

        > .header {

            .reference-button {
                margin: 0;

                span {
                    display: none;
                }
            }
        }

        .content {

            .ms-responsive-table-wrapper {

                table {

                    tbody {

                        td {

                            &.description {
                                min-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
table.simple tbody tr td {
    padding: 0 24px 0 0 !important;
}
md-tabs .md-tab.md-active {
    color: #039BE5 !important;
}
.groups-tab md-pagination-wrapper {
    width: 100% !important;
    md-tab-item {
        width: 100% !important;
        max-width: none !important;
    }
}
.incoming-messaging-count {
    color: red;
    border: 1px solid;
    padding: 0px 5px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 4px;
}
.send-new-message {
    position: absolute !important;
    right: 5px !important;
    margin-right: 5px !important;
    padding: 0 !important;
    width: 40px !important;
    height: 40px !important;
}
.incoming-message-button {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.history-button {
    margin-left: 2px !important;
}
.button-selected {
    background-color: lightgrey !important;
}