<!-- CONTACT TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">

        <div translate="CHAT.TENANT_INFO">Tenant Info</div>

        <div flex></div>

        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right-sidenav')" aria-label="back">
            <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>

    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">

        <div layout="column" layout-align="center center">

            

        </div>

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACT TOOLBAR -->

<!-- CONTACT CONTENT -->
<md-content class="md-hue-2" flex ms-scroll ms-padding>

    <!-- CONTACT MOOD -->
    <md-card>

        <md-card-title translate="CHAT.TENANT_DETAILS">Tenant Details</md-card-title>

        <md-card-content>

            <p class="mood">
                Full Name: {{vm.tenant_full_name}}
            </p>
            <p class="mood">
                Phone Number: {{vm.tenant_phone_no}}
            </p>
            <p class="mood">
                Unit No: {{vm.tenant_apartment_no}}
            </p>
            <p class="mood">
                Email: {{vm.tenant_email}}
            </p>
            <p class="mood">
                Special Notes: {{vm.tenant_notes}}
            </p>

        </md-card-content>

    </md-card>
    <!-- / CONTACT MOOD -->

</md-content>
<!-- / CONTACT CONTENT -->