<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.NAME_REQUIRED">Name (required)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.contact.tenant_first_name" type="text" ng-required md-autofocus>
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-font-icon="icon-phone"></md-icon>
                <label translate translate-attr-placeholder="CONTACTS.PHONE_NUMBER">Phone number</label>
                <input ng-model="vm.contact.tenant_phone_no" type="text" ng-required>
            </md-input-container>

            <div layout="row" class="md-block textarea-wrapper" layout-align="start start">
                <md-icon md-font-icon="icon-note"></md-icon>
                <md-input-container flex>
                    <label translate translate-attr-placeholder="CONTACTS.NOTES">Notes</label>
                    <textarea ng-model="vm.contact.tenant_notes" type="text" max-rows="4"></textarea>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Assign to (optional)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <md-select ng-model="vm.contact.sub_group_id">
                    <md-option ng-repeat="subGroup in vm.SubGroups" value="{{subGroup.sub_group_id}}">
                        {{subGroup.sub_group_name}}
                    </md-option>
                </md-select>
            </md-input-container>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout-align="space-between center">
            <div layout-align="start center">
                <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.saveContact(vm.contact)"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                    SAVE
                </md-button>

                <div layout="row">
                    <md-button type="submit" ng-if="vm.newContact" ng-click="vm.addNewContact()"
                                class="send-button md-accent md-raised"
                                ng-disabled="contactForm.$invalid || contactForm.$pristine"
                                aria-label="Add Task" translate="CONTACTS.ADD_CONTACT"
                                translate-attr-aria-label="CONTACTS.ADD_CONTACT">
                        ADD CONTACT
                    </md-button>
                </div>

                
            </div>

            <div layout="row" ng-if="!vm.newContact">
                <md-button class="md-icon-button" ng-click="vm.deleteContactConfirm($event)" aria-label="Delete"
                           translate translate-attr-aria-label="CONTACTS.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="CONTACTS.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->