<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
    
        <form name="contactForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-tall" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.adminDialogHeader}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                               translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / TOOLBAR TOP -->
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>
    
                <md-input-container class="md-icon-float md-block">
                    <label>First Name</label>
                    <input ng-model="vm.admin.first_name" type="text" name="first_name" ng-change="vm.onChangeFirstName()" required>
                    <div ng-messages="contactForm.first_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>First name is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Last Name</label>
                    <input ng-model="vm.admin.last_name" type="text" name="last_name" ng-change="vm.onChangeLastName()" required>
                    <div ng-messages="contactForm.last_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Last name is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Username</label>
                    <input ng-model="vm.admin.username" type="text" name="username" required ng-disabled="!vm.newAdmin">
                    <div ng-messages="contactForm.username.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Username is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Office)</label>
                    <input ng-model="vm.admin.phone_office" type="text" name="phone_office" required>
                    <div ng-messages="contactForm.phone_office.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Phone no (Office) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Cell)</label>
                    <input ng-model="vm.admin.phone_cell" type="text" name="phone_cell" required>
                    <div ng-messages="contactForm.phone_cell.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Phone no (Cell) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input ng-model="vm.admin.email" type="email" name="email" required>
                    <div ng-messages="contactForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="vm.admin.password" type="text" name="password" required>
                    <div ng-messages="contactForm.password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Retype Password</label>
                    <input ng-model="vm.admin.retype_password" type="text" name="retype_password" required>
                    <div ng-messages="contactForm.retype_password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Retype password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Department</label>
                    <input ng-model="vm.admin.department" type="text" name="department" required>
                    <div ng-messages="contactForm.department.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Department is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" ng-if="!vm.newAdmin">
                    Status
                    <md-switch ng-model="vm.admin.status" aria-label="Switch 1" name="status"></md-switch>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <div ng-if="vm.isExistingUser">
                        <span style="color: red;">Duplicate User found! There is already a user with this username. Please Try again with a new username.</span>
                    </div>
                </md-input-container>
    
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout-align="space-between center">
                <div layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newAdmin" ng-click="vm.saveAdmin(vm.admin)"
                               class="send-button md-accent md-raised"
                               ng-disabled="contactForm.$invalid || contactForm.$pristine"
                               aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                        SAVE
                    </md-button>
    
                    <div layout="row">
                        <md-button type="submit" ng-if="vm.newAdmin" ng-click="vm.addNewAdmin()"
                                    class="send-button md-accent md-raised"
                                    ng-disabled="contactForm.$invalid || contactForm.$pristine"
                                    aria-label="Add Task">
                            ADD ADMIN
                        </md-button>
                    </div>
                </div>
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->