<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
    
        <form name="contactForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-tall" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.contractorDialogHeader}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                               translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / TOOLBAR TOP -->
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>
    
                <md-input-container class="md-icon-float md-block">
                    <label>Contact Name</label>
                    <input ng-model="vm.contractor.contact_name" type="text" name="contact_name" required 
                           ng-blur="vm.onChangeName()">
                    <div ng-messages="contactForm.contact_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Contact name is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Username</label>
                    <input ng-model="vm.contractor.username" type="text" name="username" required ng-disabled="!vm.newContractor">
                    <div ng-messages="contactForm.username.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Username is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Company</label>
                    <input ng-model="vm.contractor.company" type="text" name="company" required>
                    <div ng-messages="contactForm.company.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Company is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Office)</label>
                    <input ng-model="vm.contractor.phone_office" type="text" name="phone_office" required>
                    <div ng-messages="contactForm.phone_office.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Phone no (office) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Cell)</label>
                    <input ng-model="vm.contractor.phone_cell" type="text" name="phone_cell" required>
                    <div ng-messages="contactForm.phone_cell.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Phone no (cell) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email (Sales)</label>
                    <input ng-model="vm.contractor.email_sales" type="email" name="email_sales" required>
                    <div ng-messages="contactForm.email_sales.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email (sales) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email (Support)</label>
                    <input ng-model="vm.contractor.email_support" type="email" name="email_support" required>
                    <div ng-messages="contactForm.email_support.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email (support) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="vm.contractor.password" type="text" name="password" required>
                    <div ng-messages="contactForm.password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Retype Password</label>
                    <input ng-model="vm.contractor.retype_password" type="text" name="retype_password" required>
                    <div ng-messages="contactForm.retype_password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Retype_password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Address</label>
                    <input ng-model="vm.contractor.address" type="text" name="address" required>
                    <div ng-messages="contactForm.address.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Address is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Website</label>
                    <input ng-model="vm.contractor.website" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block" ng-if="!vm.newContractor">
                    Status
                    <md-switch ng-model="vm.contractor.status" aria-label="Switch 1"></md-switch>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <div ng-if="vm.isExistingUser">
                        <span style="color: red;">Duplicate User found! There is already a user with this username. Please Try again with a new username.</span>
                    </div>
                </md-input-container>
    
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout-align="space-between center">
                <div layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newContractor" ng-click="vm.saveContractor(vm.contractor)"
                               class="send-button md-accent md-raised"
                               ng-disabled="contactForm.$invalid || contactForm.$pristine"
                               aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                        SAVE
                    </md-button>
    
                    <div layout="row">
                        <md-button type="submit" ng-if="vm.newContractor" ng-click="vm.addNewContractor()"
                                    class="send-button md-accent md-raised"
                                    ng-disabled="contactForm.$invalid"
                                    aria-label="Add Task">
                            ADD CONTRACTOR
                        </md-button>
                    </div>
                </div>
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->