<!-- CONTRACTORS MANAGEMENT -->
<md-toolbar style="background-color: #f26138">
    <h1 class="md-toolbar-tools">Contractors</h1>
</md-toolbar>
<md-content class="content md-padding">
    <div class="search-context" style="display: flex;">
        <div class="search-container flex-50">
            <md-input-container class="md-block" style="margin: 0;">
                    <label>Search here</label>
                    <input ng-model="vm.contractorSearchText">
            </md-input-container>
        </div>
        <div class="add-dropdown flex-30">
            <md-button class="md-icon-button" ng-click="vm.openContractorModal($event)" aria-label="more" style="width: 50px;padding: 0px; margin: 0px;">
                <md-icon md-font-icon="icon-plus-circle" style="font-size: 40px;"></md-icon>
                <md-tooltip md-delay="500">
                    Add new user
                </md-tooltip>
            </md-button>
            <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">ADD CONTRACTOR</label>
        </div>
        <div class="filter-customer flex-1">
            <md-button 
                ng-click='csv.generate()' 
                ng-href="{{ csv.link() }}"
                download="Contractors.csv">Export To CSV</md-button>
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp">

        <table class="simple" ms-responsive-table style="text-align: center;"
                export-csv="csv" 
                separator="," 
                export-csv-ignore="edit-button">
            <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">Company</th>
                    <th style="text-align: center;">Contact Name</th>
                    <th style="text-align: center;">Phone (Office)</th>
                    <th style="text-align: center;">Phone (Cell)</th>
                    <th style="text-align: center;">Address</th>
                    <th style="text-align: center;">Website</th>
                    <th style="text-align: center;">Email (Sales)</th>
                    <th style="text-align: center;">Email (Support)</th>
                    <th style="text-align: center;">Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="contractor in vm.contractors | filter:vm.contractorSearchText">
                    <td class="name">{{contractor.contractor_id}}</a></td>
                    <td class="position">{{contractor.company}}</td>
                    <td class="name">{{contractor.contact_name}}</td>
                    <td class="name">{{contractor.phone_office}}</td>
                    <td class="name">{{contractor.phone_cell}}</td>
                    <td class="name">{{contractor.address}}</td>
                    <td class="name">{{contractor.website}}</td>
                    <td class="name">{{contractor.email_sales}}</td>
                    <td class="name">{{contractor.email_support}}</td>
                    <td class="name">{{contractor.status ? 'Active' : 'Inactive'}}</td>
                    <td class="name edit-button">
                        <md-button class="md-raised" ng-click="vm.openContractorModal($event, contractor)" style="padding: 0;">Edit</md-button>
                    </td>
                </tr>
                <tr ng-if="vm.contractors.length == 0">
                    <td class="name">No Contractors found</td>
                </tr>
            </tbody>
        </table>
    </div>

</md-content>
<!-- / CONTRACTORS MANAGEMENT -->