<!-- CUSTOMERS MANAGEMENT -->
<md-toolbar style="background-color: #f26138; display: block; padding: 13px;">
    Customers
    <md-button class="md-icon-button" ng-click="vm.openCustomerModal($event)" aria-label="more" style="width: 50px;padding: 0px; margin: 0px;">
        <md-icon md-font-icon="icon-plus-circle" style="font-size: 40px;"></md-icon>
        <md-tooltip md-delay="500">
            Add new customer
        </md-tooltip>
    </md-button>
    <label for="" style="font-size: 14px;margin-left: 5px;">ADD CUSTOMER</label>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
    <md-tab label="List View">
        <!-- Customer List View -->
        <md-content class="content md-padding">
            <div class="search-context" style="display: flex;">
                <div class="search-container flex-30">
                    <md-input-container class="md-block" style="margin-bottom: -23px;">
                            <label>Search here</label>
                            <input ng-model="vm.customerSearchText">
                    </md-input-container>
                </div>
                
                <div class="filter-customer filter-customer-contractor flex-1" style="margin: 0 5px;">
                    <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">Filter Contractor:</label>      
                    <md-input-container class="md-block" style="margin: 0;">
                        <md-select ng-model="vm.selectedContractor" ng-change="vm.filterCustomerByContractor()">
                            <md-option ng-value="0" ng-selected="true">
                                {{ "All" }}
                            </md-option>
                            <md-option ng-value="contractor.contractor_id" ng-repeat="contractor in vm.lightContractors">
                                {{ contractor.contractor_name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
        
                <div class="filter-customer filter-customer-installer flex-1" style="margin: 0 5px;">
                    <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">Filter Installer:</label>      
                    <md-input-container class="md-block" style="margin: 0;">
                        <md-select ng-model="vm.selectedInstaller" ng-change="vm.filterCustomerByInstaller()">
                            <md-option ng-value="0" ng-selected="true">
                                {{ "All" }}
                            </md-option>
                            <md-option ng-value="installer.installer_id" ng-repeat="installer in vm.lightInstallers">
                                {{ installer.installer_name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
        
                <div class="filter-customer flex-1" style="margin: 0 5px;">
                    <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">Customer By Installation Status:</label>      
                    <md-input-container class="md-block" style="margin: 0;">
                        <md-select ng-model="vm.selectedCustomerFilter" ng-change="vm.onSelectCustomerFilter()">
                            <md-option ng-value="0" ng-selected="true">
                                {{ "All" }}
                            </md-option>
                            <md-option ng-value="1">
                                {{ "Created" }}
                            </md-option>
                            <md-option ng-value="2">
                                {{ "Finished" }}
                            </md-option>
                            <md-option ng-value="3">
                                {{ "Abandoned" }}
                            </md-option>
                        </md-select>
                        <div ng-messages="contactForm.installation_status_id.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span>Installation Status is required</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div class="filter-customer flex-1">
                    <md-button 
                        ng-click='csv.generate()' 
                        ng-href="{{ csv.link() }}"
                        download="Customers.csv">Export To CSV</md-button>
                </div>
            </div>
            <div class="simple-table-container md-whiteframe-4dp" style="margin-top: 30px;">
        
                <table class="simple" ms-responsive-table style="text-align: center;"
                        export-csv="csv" 
                        separator="," 
                        export-csv-ignore="edit-button">
                    <thead>
                        <tr>
                            <th class="edit-button"></th>
                            <th style="text-align: center;">Account #</th>
                            <th style="text-align: center;">Name</th>
                            <th style="text-align: center;">Email</th>
                            <th style="text-align: center;">Phone (Home)</th>
                            <th style="text-align: center;">Phone (Cell)</th>
                            <th style="text-align: center;">Address</th>
                            <th style="text-align: center;">Installation Type</th>
                            <th style="text-align: center;">Company Name</th>
                            <th style="text-align: center;">Installation Date</th>
                            <th style="text-align: center;">Contractor</th>
                            <th style="text-align: center;">Installer</th>
                            <th style="text-align: center;">Radio Unit #</th>
                            <th style="text-align: center;">Elevation</th>
                            <th style="text-align: center;">Longitude</th>
                            <th style="text-align: center;">Latitude</th>
                            <th style="text-align: center;">Router Unit #</th>
                            <th style="text-align: center;">Signal Quality</th>
                            <th style="text-align: center;">Installation Status</th>
                            <th style="text-align: center;">Note</th>
                            <th style="text-align: center;">Post Processing Status</th>
                            
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr ng-repeat="customer in vm.customers | filter:vm.customerSearchText">
                            <td class="name edit-button">
                                    <md-button class="md-raised" ng-click="vm.openCustomerModal($event, customer)" style="padding: 0;">
                                        {{ customer.read_only ? 'View': 'Edit' }}
                                    </md-button>
                            </td>
                            <td>{{customer.account_number}}</a></td>
                            <td>{{customer.first_name}} {{customer.last_name}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.phone_home}}</td>
                            <td>{{customer.phone_cell}}</td>
                            <td>{{customer.address}}</td>
                            <td>{{vm.getInstallationTypeDesc(customer.installation_type_id)}}</td>
                            <td>{{customer.company_name}}</td>
                            <td>{{customer.installation_date | customDateFormat }}</td>
                            <td>{{customer.contractor_name}}</td>
                            <td>{{customer.installer_name}}</td>
                            <td>{{customer.radio_unit_no}}</td>
                            <td>{{customer.elevation}}</td>
                            <td>{{customer.longitude}}</td>
                            <td>{{customer.latitude}}</td>
                            <td>{{customer.router_unit_no}}</td>
                            <td>{{customer.signal_quality}}</td>
                            <td>{{vm.getInstallationStatusDesc(customer.installation_status_id)}}</td>
                            <td>{{customer.note}}</td>
                            <td>{{vm.getPostProcessingStatusDesc(customer.post_processing_status_id)}}</td>
                            
                        </tr>
                        <tr ng-if="vm.customers.length == 0">
                            <td>No customer found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
        <!-- / Customer List View -->
    </md-tab>
    <md-tab label="Map View">
        <!-- Customer Map View -->
        <md-content class="content md-padding" ng-if="vm.customers">
            <ng-map center="49.1923,-98.0977" zoom="15" default-style="false" style="height: 600px;">
                <marker ng-repeat="customer in vm.customers | filter: { installation_status_id: 2 }" position="{{customer.address_lat}},{{customer.address_long}}" 
                        on-click="vm.openCustomerModalFromMap(event, customer)"
                        icon="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|008000">
                </marker>
                <marker ng-repeat="customer in vm.customers | filter: { installation_status_id: 3 }" position="{{customer.address_lat}},{{customer.address_long}}" 
                        on-click="vm.openCustomerModalFromMap(event, customer)">
                </marker>
            </ng-map>
        </md-content>
    </md-tab>
</md-tabs>