<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task" style="width: 100%; max-width: 1000px;">
    
        <form name="contactForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-tall" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.customerDialogHeader}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                               translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / TOOLBAR TOP -->
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>

                <div class="customer-info" style="width: 42%; float: left;">
                    <h2>Customer Info</h2>
                    <md-input-container class="md-icon-float md-block">
                        <label>Account Number</label>
                        <input ng-model="vm.customer.account_number" type="text" ng-disabled="true">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>First Name</label>
                        <input ng-model="vm.customer.first_name" type="text" name="first_name" required ng-blur="vm.validateTextOnly(contactForm.first_name, vm.customer.first_name)" ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.first_name.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span>First name is required</span>
                            </div>
                            <div ng-message="onlyCharacters">
                                <span>Only characters (A-Z), space and (-) allowed</span>
                            </div>
                        </div>
                    </md-input-container>
    
                    <md-input-container class="md-icon-float md-block">
                        <label>Last Name</label>
                        <input ng-model="vm.customer.last_name" type="text" name="last_name" ng-blur="vm.validateTextOnly(contactForm.last_name, vm.customer.last_name)" required ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.last_name.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span>Last name is required</span>
                            </div>
                            <div ng-message="onlyCharacters">
                                <span>Only characters (A-Z), space and (-) allowed</span>
                            </div>
                        </div>
                    </md-input-container>
    
                    <md-input-container class="md-icon-float md-block">
                        <label>Phone (Home)</label>
                        <input ng-model="vm.customer.phone_home" type="text" name="phone_home" ng-blur="vm.validatePhone(contactForm.phone_home, vm.customer.phone_home)" required ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.phone_home.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span>Phone (Home) is required</span>
                            </div>
                            <div ng-message="phoneFormat">
                                <span>Phone no contains only number with exact length of 10</span>
                            </div>
                        </div>
                    </md-input-container>
    
                    <md-input-container class="md-icon-float md-block">
                        <label>Phone (Cell)</label>
                        <input ng-model="vm.customer.phone_cell" name="phone_cell" type="text" ng-blur="vm.validatePhone(contactForm.phone_cell, vm.customer.phone_cell)" ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.phone_cell.$error" role="alert" multiple>
                            <div ng-message="phoneFormat">
                                <span>Phone no contains only number with exact length of 10</span>
                            </div>
                        </div>
                    </md-input-container>
    
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <input ng-model="vm.customer.email" type="email" name="email" ng-pattern="/^.+@.+\..+$/" ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.email.$error" role="alert" multiple>
                            <div ng-message="pattern">
                                <span>Email must be a valid e-mail address</span>
                            </div>
                        </div>
                    </md-input-container>
    
                    <md-input-container class="md-icon-float md-block">
                        <label>Address</label>
                        <input g-places-autocomplete force-selection="true" 
                               ng-model="vm.customer.address"
                               type="text" name="address" required ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.address.$error" role="alert">
                            <div ng-message="required">
                                <span>Address is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Unit No</label>
                        <input ng-model="vm.customer.unit_no"
                               type="text" name="unit_no" ng-disabled="vm.customer.read_only">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <div ng-if="vm.isExistingCustomer">
                            <span style="color: red;">Duplicate Customer found! There is already a customer with this address. Please Try again with a new address.</span>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Installation Notes</label>
                        <textarea ng-model="vm.customer.note" name="note" rows="3" ng-disabled="vm.customer.read_only"></textarea>
                    </md-input-container>
                    
                </div>
                <div class="installation-info" style="width: 42%; float: right;">
                    <h2>Installation Info</h2>

                    <md-input-container class="md-block">
                        <label>Installation Type</label>
                        <md-select ng-model="vm.customer.installation_type_id" name="installation_type_id" ng-disabled="vm.customer.read_only">
                            <md-option ng-repeat="(index, installation_type) in vm.installationType" 
                                       ng-value="installation_type.installation_type_id">
                                {{installation_type.installation_type_desc}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" ng-if="vm.customer.installation_type_id == 2">
                        <label>Company Name</label>
                        <input ng-model="vm.customer.company_name" type="text" ng-disabled="vm.customer.read_only">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Installation Status</label>
                        <md-select ng-model="vm.customer.installation_status_id" name="installation_status_id" ng-disabled="vm.customer.read_only">
                            <md-option ng-repeat="(index, installation_status) in vm.installationStatus" 
                                       ng-value="installation_status.installation_status_id">
                                {{installation_status.installation_status_desc}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-datepicker class="md-icon-float md-block"
                                    ng-model="vm.customer.installation_date" 
                                    md-placeholder="installation date"
                                    md-open-on-focus 
                                    ng-disabled="vm.customer.read_only">
                    </md-datepicker>

                    <md-input-container class="md-block" ng-if="vm.user && [1,2].includes(vm.user.user_role_id)">
                        <label>Contractor</label>
                        <md-select ng-model="vm.customer.contractor_id" name="contractor_id"
                                   ng-change="vm.onChangeContractorDropdown(vm.customer.contractor_id)"
                                   ng-disabled="vm.customer.read_only">
                            <md-option ng-repeat="contractor in vm.lightContractors" 
                                       ng-value="contractor.contractor_id">
                                {{contractor.contractor_name}}
                            </md-option>
                        </md-select>
                        <md-icon md-font-icon="icon-close" ng-click="vm.cancelContractorSelection()"></md-icon>
                    </md-input-container>

                    <md-input-container class="md-block" ng-if="vm.user && [1,2,3].includes(vm.user.user_role_id)">
                        <label>Installer</label>
                        <md-select ng-model="vm.customer.installer_id" name="installer_id"
                                   ng-disabled="vm.customer.read_only || ([1,2].includes(vm.user.user_role_id) && !vm.customer.contractor_id)">
                            <md-option ng-repeat="installer in vm.lightInstallers" ng-value="installer.installer_id">
                            {{installer.installer_name}}
                            </md-option>
                        </md-select>
                        <md-icon md-font-icon="icon-close" ng-click="vm.cancelInstallerSelection()"></md-icon>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Radio Unit No</label>
                        <input ng-model="vm.customer.radio_unit_no" name="radio_unit_no" type="text" ng-blur="vm.validateRadioUnit(contactForm.radio_unit_no, vm.customer.radio_unit_no)" ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.radio_unit_no.$error" role="alert" multiple>
                            <div ng-message="radioUnitFormat">
                                <span>Radio unit format must be - XX - XXXX</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Router Unit No</label>
                        <input ng-model="vm.customer.router_unit_no" name="router_unit_no" type="text" ng-blur="vm.validateRouterUnit(contactForm.router_unit_no, vm.customer.router_unit_no)" ng-disabled="vm.customer.read_only">
                        <div ng-messages="contactForm.router_unit_no.$error" role="alert" multiple>
                            <div ng-message="routerUnitFormat">
                                <span>Format must be - RB960PGS|RB962AC|RB1100 - ####</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Signal Quality Rx/Tx</label>
                        <input ng-model="vm.customer.signal_quality" name="signal_quality" type="text" ng-blur="vm.validateSignalQuality(contactForm.signal_quality, vm.customer.signal_quality)" ng-disabled="vm.customer.read_only">
                    </md-input-container>
                    <div ng-if="vm.signalQualityFormatWarning" role="alert">
                        <span style="color: red;">Each Value must be - -##/-## (greater than -60)</span>
                    </div>

                    <md-input-container class="md-icon-float md-block">
                        <label>Elevation</label>
                        <input ng-model="vm.customer.elevation" type="text" ng-disabled="vm.customer.read_only">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Longitude</label>
                        <input ng-model="vm.customer.longitude" type="text" ng-disabled="vm.customer.read_only">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Latitude</label>
                        <input ng-model="vm.customer.latitude" type="text" ng-disabled="vm.customer.read_only">
                    </md-input-container>
                    

                    <!-- Post processing section -->
                    <h2>Post Processing Section</h2>
                    <md-input-container class="md-block">
                        <label>Post Processing Status</label>
                        <md-select ng-model="vm.customer.post_processing_status_id" name="post_processing_status_id" 
                                   ng-disabled="![1,2].includes(vm.user.user_role_id)">
                            <md-option ng-repeat="(index, postProcessingStatus) in vm.postProcessingStatus" 
                                        ng-value="postProcessingStatus.post_processing_status_id">
                                {{postProcessingStatus.post_processing_status_desc}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Post Processing Notes</label>
                        <textarea ng-model="vm.customer.post_processing_note" name="post_processing_note" rows="4" ng-disabled="vm.customer.read_only || ![1,2].includes(vm.user.user_role_id)"></textarea>
                    </md-input-container>

                </div>
    
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout-align="space-between center">
                <div layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newCustomer" ng-click="vm.saveCustomer(vm.customer)"
                               class="send-button md-accent md-raised"
                               ng-disabled="vm.customer.read_only || contactForm.$invalid || contactForm.$pristine"
                               aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                        SAVE
                    </md-button>
    
                    <div layout="row">
                        <md-button type="submit" ng-if="vm.newCustomer" ng-click="vm.addNewCustomer()"
                                    class="send-button md-accent md-raised"
                                    ng-disabled="vm.customer.read_only || contactForm.$invalid"
                                    aria-label="Add Task">
                            ADD CUSTOMER
                        </md-button>
                    </div>
                </div>
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->