<md-tabs md-stretch-tabs md-dynamic-height md-center-tabs md-no-ink md-no-ink-bar>
    <md-tab label="Groups">
        <div ng-include src="vm.groupTable"></div>
    </md-tab>
    <md-tab label="Users" ng-if="vm.isMasterUser">
        <div ng-include src="vm.groupAdminTable"></div>
    </md-tab>
    <md-tab label="Overview" ng-if="vm.isMasterUser" md-on-select="vm.getIncomingOutgoingMessageCount()">
        <div ng-include src="vm.overviewPage"></div>
    </md-tab>
</md-tabs>