<!-- GROUP ADMIN MANAGEMENT -->
<md-content class="content md-padding">
    <div class="search-context" style="display: flex;">
        <div class="search-container flex-50">
            <md-input-container class="md-block" style="margin: 0;">
                    <label>Search here</label>
                    <input ng-model="vm.groupAdminSearchText">
            </md-input-container>
        </div>
        <div class="add-dropdown flex-1" ng-if="vm.isMasterUser">
            <md-button class="md-icon-button" ng-click="vm.openNewAdminModal($event)" aria-label="more" style="width: 50px;padding: 0px; margin: 0px;">
                <md-icon md-font-icon="icon-plus-circle" style="font-size: 40px;"></md-icon>
                <md-tooltip md-delay="500">
                    Add new user
                </md-tooltip>
            </md-button>
            <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">ADD USER</label>
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp">

        <table class="simple" ms-responsive-table style="text-align: center;">
            <thead>
                <tr>
                    <th style="text-align: center;">Group Admin</th>
                    <th style="text-align: center;">Phone No</th>
                    <th style="text-align: center;">Email</th>
                    <th></th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>

            <tbody>
                <tr ng-repeat="groupAdmin in vm.groupAdmins | filter:vm.groupAdminSearchText">
                    <td class="name">{{groupAdmin.group_admin_name}}</a></td>
                    <td class="position">{{groupAdmin.group_admin_phone_no}}</td>
                    <td class="name">{{groupAdmin.group_admin_email}}</td>
                    <td class="name edit-button">
                        <md-button class="md-raised" ng-click="vm.openNewAdminModal($event, groupAdmin)" style="padding: 0;">Edit</md-button>
                    </td>
                </tr>
                <tr ng-if="vm.groupAdmins.length == 0">
                    <td class="name">No users found</td>
                </tr>
            </tbody>
        </table>
    </div>

</md-content>
<!-- / GROUP ADMIN MANAGEMENT -->