<!-- GROUPS TAB  -->
<md-content class="content md-padding">
    <div class="search-context" style="display: flex;">
        <div class="search-container flex-50">
            <md-input-container class="md-block" style="margin: 0;">
                    <label>Search here</label>
                    <input ng-model="vm.searchText">
            </md-input-container>
        </div>
        <div class="add-dropdown flex-1" ng-if="vm.isMasterUser">
            <md-button class="md-icon-button" ng-click="vm.openNewGroupModal($event);" aria-label="more" style="width: 50px;padding: 0px; margin: 0px;">
                <md-icon md-font-icon="icon-plus-circle" style="font-size: 40px;"></md-icon>
                <md-tooltip md-delay="500">
                    Add new group
                </md-tooltip>
            </md-button>
            <label for="" style="font-size: 14px; color: grey; margin-left: 5px;">ADD GROUP</label>
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp" ng-if="vm.isMasterUser">

        <table class="simple" ms-responsive-table style="text-align: center;">
            <thead>
                <tr>
                    <th style="text-align: center;">Group Name</th>
                    <th style="text-align: center;">Group Admin</th>
                    <th style="text-align: center;">Annyya Phone No</th>
                    <th></th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>

            <tbody>
                <tr ng-repeat="group in vm.groups | filter:vm.searchText">
                    <td class="name" ng-click="vm.groupNameClicked(group.group_id, group.group_name)"><a href="#">{{group.group_name}}</a></td>
                    <td class="position" ng-if="group.is_archived == 1">Not Assigned</td>
                    <td class="position" ng-if="group.is_archived == 0">{{group.group_admin_name}}</td>
                    <td class="name">{{group.group_phone_no}}</td>
                    <td class="name edit-button">
                        <md-button class="md-raised" ng-click="vm.openNewGroupModal($event, group)" style="padding: 0;">Edit</md-button>
                    </td>
                </tr>
                <tr ng-if="vm.groups.length == 0">
                    <td class="name">No group found</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="simple-table-container md-whiteframe-4dp" ng-if="!vm.isMasterUser">

        <table class="simple" ms-responsive-table style="text-align: center">
            <thead>
                <tr>
                    <th style="text-align: center">Group Name</th>
                    <th style="text-align: center">Annyya Phone No</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>

            <tbody>
                <tr ng-repeat="group in vm.groups | filter:vm.searchText">
                    <td class="name" ng-click="vm.groupNameClicked(group.group_id, group.group_name)" style="padding: 10px 0 !important;"><a href="#">{{group.group_name}}</a></td>
                    <td class="name" style="padding: 10px 0 !important;">{{group.group_phone_no}}</td>
                </tr>
                <tr ng-if="vm.groups.length == 0">
                    <td class="name" style="padding: 10px 0 !important;">No group found</td>
                </tr>
            </tbody>
        </table>
    </div>                
</md-content>
<!-- / GROUPS TAB -->