<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
    
        <form name="contactForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-tall" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.groupModalHeader}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                               translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / TOOLBAR TOP -->
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>
                <md-input-container class="md-icon-float md-block">
                    <label translate="DASHBOARD.GROUP_NAME">Group Name (required)</label>
                    <md-icon md-font-icon="icon-account" class="name"></md-icon>
                    <input ng-model="vm.group.group_name" type="text" ng-required md-autofocus>
                </md-input-container>
    
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                  <label>Admin</label>
                  <md-icon md-font-icon="icon-account" class="name"></md-icon>
                  <md-select ng-model="vm.group.group_admin">
                    <md-option ng-repeat="admin in vm.admins" value="{{admin.group_admin_id}}">
                      {{admin.group_admin_name}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <ng-csv-import 
                ng-show="vm.newContact"
                content="csv.content"
                header="csv.header" 
                separator="csv.separator"
                result="csv.result"></ng-csv-import>   
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout-align="space-between center">
                <div layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.saveGroup(vm.group)"
                               class="send-button md-accent md-raised"
                               ng-disabled="contactForm.$invalid || contactForm.$pristine"
                               aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                        SAVE
                    </md-button>
    
                    <div layout="row">
                        <md-button type="submit" ng-if="vm.newContact" ng-click="vm.addNewGroup()"
                                    class="send-button md-accent md-raised"
                                    ng-disabled="contactForm.$invalid || contactForm.$pristine"
                                    aria-label="Add Task">
                            ADD GROUP
                        </md-button>
                    </div>
    
                    
                </div>
    
                <div layout="row" ng-if="!vm.newContact" style="display: none;">
                    <md-button class="md-icon-button" ng-click="vm.deleteGroup(vm.group)" aria-label="Delete"
                               translate translate-attr-aria-label="CONTACTS.DELETE">
                        <md-icon md-font-icon="icon-delete"></md-icon>
                        <md-tooltip><span translate="CONTACTS.DELETE">DELETE</span></md-tooltip>
                    </md-button>
                </div>
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->