<div class="help-section" style="padding: 20px;">
    <h2>Dashboard</h2>
    
    Access important metrics such as how many messages sent, delivered and received. 
    
    
    Request new phone numbers, the phone carriers limit number of messages sent each day to control spam messages. In order to communicate with large number of separate clients use different numbers. 
    
    
    
    <h2>Incoming Messages </h2>
    
    
    All messages come here, you can see and reply all the messages from this tab. 
    
    
    <h2>Groups</h2>
    
    
    Create groups based on your requirement. Then send broadcast messages to the groups. Once inside the group you can create sub-groups to control broadcast messages to specific customers/clients.
    
    
    <h2>Users</h2>
    
    
    Users are group admins, you can assign admins as required to control who talks to each group of customers/clients. 

    <h2>How do I add contacts and upload a contact list</h2>
    
    You can create a group and then add contacts one by one or upload a CSV file  <br>
    CSV file should be in a format shown below. <br>
    <img src="{{vm.importImgUrl}}" alt="Column names" style="margin: 20px 0;"> <br>
    Columns of your CSV file should be <b>user_name, user_phone_no, user_notes</b> 
    Enter relevant information in Notes column to identify your contact. <br>    
    For example if you are a building manager you might want to enter the apartment number in notes. 

</div>