<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
    
        <form name="contactForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-tall" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.installerDialogHeader}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                               translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / TOOLBAR TOP -->
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>
    
                <md-input-container class="md-icon-float md-block">
                    <label>First Name</label>
                    <input ng-model="vm.installer.first_name" type="text" name="first_name" required
                           ng-change="vm.onChangeFirstName()">
                    <div ng-messages="contactForm.first_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>First name is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Last Name</label>
                    <input ng-model="vm.installer.last_name" type="text" name="last_name" required
                           ng-change="vm.onChangeLastName()">
                    <div ng-messages="contactForm.last_name.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Last name is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Username</label>
                    <input ng-model="vm.installer.username" type="text" name="username" required ng-disabled="!vm.newInstaller">
                    <div ng-messages="contactForm.username.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Username is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Office)</label>
                    <input ng-model="vm.installer.phone_office" type="text" name="phone_office" required>
                    <div ng-messages="contactForm.phone_office.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Phone no (office) is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Phone (Cell)</label>
                    <input ng-model="vm.installer.phone_cell" type="text" name="phone_cell">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input ng-model="vm.installer.email" type="email" name="email" required>
                    <div ng-messages="contactForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="vm.installer.password" type="text" name="password" required>
                    <div ng-messages="contactForm.password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Retype Password</label>
                    <input ng-model="vm.installer.retype_password" type="text" name="retype_password" required>
                    <div ng-messages="contactForm.retype_password.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Retype password is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Address</label>
                    <input ng-model="vm.installer.address" type="text" name="address" required>
                    <div ng-messages="contactForm.address.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Address is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="vm.user && vm.user.user_role_id !== 3">
                    <label>Contractor</label>
                    <md-select ng-model="vm.installer.contractor_id" name="contractor_id" required>
                        <md-option ng-repeat="contractor in vm.lightContractors" ng-value="contractor.contractor_id">
                        {{contractor.contractor_name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="contactForm.contractor_id.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Assigned to a contractor is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block" ng-if="!vm.newInstaller">
                    Status
                    <md-switch ng-model="vm.installer.status" aria-label="Switch 1"></md-switch>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <div ng-if="vm.isExistingUser">
                        <span style="color: red;">Duplicate User found! There is already a user with this username. Please Try again with a new username.</span>
                    </div>
                </md-input-container>
    
            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout-align="space-between center">
                <div layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newInstaller" ng-click="vm.saveInstaller(vm.installer)"
                               class="send-button md-accent md-raised"
                               ng-disabled="contactForm.$invalid || contactForm.$pristine"
                               aria-label="SAVE" translate="CONTACTS.SAVE" translate-attr-aria-label="CONTACTS.SAVE">
                        SAVE
                    </md-button>
    
                    <div layout="row">
                        <md-button type="submit" ng-if="vm.newInstaller" ng-click="vm.addNewInstaller()"
                                    class="send-button md-accent md-raised"
                                    ng-disabled="contactForm.$invalid"
                                    aria-label="Add Task">
                            ADD INSTALLER
                        </md-button>
                    </div>
                </div>
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->