<!-- INSTALLERS MANAGEMENT -->
<md-toolbar style="background-color: #f26138">
    <h1 class="md-toolbar-tools">Installers</h1>
</md-toolbar>
<md-content class="content md-padding">
    <div class="search-context" style="display: flex;">
        <div class="search-container flex-50">
            <md-input-container class="md-block" style="margin: 0;">
                    <label>Search here</label>
                    <input ng-model="vm.installerSearchText">
            </md-input-container>
        </div>
        <div class="add-dropdown flex-30">
            <md-button class="md-icon-button" ng-click="vm.openInstallerModal($event)" aria-label="more" style="width: 50px;padding: 0px; margin: 0px;">
                <md-icon md-font-icon="icon-plus-circle" style="font-size: 40px;"></md-icon>
                <md-tooltip md-delay="500">
                    Add new Installer
                </md-tooltip>
            </md-button>
            <label for="" style="font-size: 14px; color: grey;margin-left: 5px;">ADD INSTALLER</label>
        </div>
        <div class="filter-customer flex-1">
            <md-button 
                ng-click='csv.generate()' 
                ng-href="{{ csv.link() }}"
                download="Installers.csv">Export To CSV</md-button>
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp">

        <table class="simple" ms-responsive-table style="text-align: center;"
                export-csv="csv" 
                separator="," 
                export-csv-ignore="edit-button">
            <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Phone (Office)</th>
                    <th style="text-align: center;">Phone (Cell)</th>
                    <th style="text-align: center;">Address</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Contractor</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="installer in vm.installers | filter:vm.installerSearchText">
                    <td class="name">{{installer.installer_id}}</a></td>
                    <td class="position">{{installer.first_name}} {{installer.last_name}}</td>
                    <td class="name">{{installer.email}}</td>
                    <td class="name">{{installer.phone_office}}</td>
                    <td class="name">{{installer.phone_cell}}</td>
                    <td class="name">{{installer.address}}</td>
                    <td class="name">{{installer.status ? 'Active' : 'Inactive'}}</td>
                    <td class="name">{{installer.contractor_name}}</td>
                    <td class="name edit-button">
                        <md-button class="md-raised" ng-click="vm.openInstallerModal($event, installer)" style="padding: 0;">Edit</md-button>
                    </td>
                </tr>
                <tr ng-if="vm.installers.length == 0">
                    <td class="name">No Installers found</td>
                </tr>
            </tbody>
        </table>
    </div>

</md-content>
<!-- / ISNTALLERS MANAGEMENT -->