<style>
    .navSelected {
        background-color: #f26138 !important;
        color: white !important;
    }
</style>
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">
    <section layout="vertical" style="height: 100vh;" flex>
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">
    
            <md-toolbar class="md-theme-indigo" style="padding: 0 90px;">
                <h1 class="md-toolbar-tools"><img src="http://themepacket.com/general-assets/img/morenet-logo.png" alt="Morenet"></h1>
            </md-toolbar>
            <div flex layout="row">
                    <md-content layout-padding flex>
                        <md-list flex>
                            <md-list-item class="md-2-line md-raised"
                                          style="padding: 0px;"
                                          ng-if="vm.user.user_role_id < 2">
                                <md-button class="md-raised" flex ng-click="vm.navigateTo('admins')" ng-class="{ navSelected : vm.navigation.admins}">
                                    <h3 style="margin: 10px;">Admins</h3>
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line md-raised"
                                          style="padding: 0px;"
                                          ng-if="vm.user.user_role_id < 3">
                                <md-button class="md-raised" flex ng-click="vm.navigateTo('contractors')" ng-class="{ navSelected : vm.navigation.contractors}">
                                    <h3 style="margin: 10px;">Contractors</h3>
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line md-raised"
                                          style="padding: 0px;"
                                          ng-if="vm.user.user_role_id < 4">
                                <md-button class="md-raised" flex ng-click="vm.navigateTo('installers')" ng-class="{ navSelected : vm.navigation.installers}">
                                    <h3 style="margin: 10px;">Installers</h3>
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line md-raised"
                                          style="padding: 0px;"
                                          ng-if="vm.user.user_role_id < 5">
                                <md-button class="md-raised" flex ng-click="vm.navigateTo('customers')" ng-class="{ navSelected : vm.navigation.customers}">
                                    <h3 style="margin: 10px;">Customers</h3>
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line md-raised"
                                          style="padding: 0px;"
                                          ng-if="[2,3,4].includes(vm.user.user_role_id)">
                                <md-button class="md-raised" flex ng-click="vm.navigateTo('notifications')" ng-class="{ navSelected : vm.navigation.notifications}">
                                    <h3 style="margin: 10px;">Notifications</h3>
                                </md-button>
                            </md-list-item>                            
                            <md-list-item class="md-2-line md-raised" flex style="position: absolute; bottom: 0; width: 90%;padding: 0px;">
                                <md-button class="md-raised" flex ng-click="vm.logoutClicked()">
                                    <h3 style="margin: 10px;">Logout</h3>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-content>
            </div>
            
    
        </md-sidenav>
    
        <md-content flex layout-padding>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.dashboard">
                Dashboard goes here
            </section>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.admins">
                <div ng-include src="vm.adminsPage"></div>
            </section>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.contractors">
                <div ng-include src="vm.contractorsPage"></div>
            </section>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.installers">
                <div ng-include src="vm.installersPage"></div>
            </section>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.customers">
                <div ng-include src="vm.customersPage"></div>
            </section>
            <section layout="column" layout-align="top left" ng-if="vm.navigation.notifications">
                <div ng-include src="vm.notificationsPage"></div>
            </section>
        </md-content>
    </section>
</div>
