<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Message">
    
    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">New Message</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                            translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>
            <md-input-container class="md-icon-float md-block">
                <label>Phone Number (required)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.newMessage.phoneNo" type="text" ng-required md-autofocus>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.MESSAGE_REQUIRED">Message (required)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <textarea ng-model="vm.newMessage.message" rows="5" ng-required></textarea>
            </md-input-container>
               
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

       <!-- DIALOG ACTIONS -->
       <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.sendNewMessage()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="SEND" translate="CONTACTS.SEND" translate-attr-aria-label="CONTACTS.SEND">
                    SEND
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->