<!-- NOTIFICATION MANAGEMENT -->
<md-toolbar style="background-color: #f26138">
    <h1 class="md-toolbar-tools">Notifications</h1>
</md-toolbar>
<md-content class="content md-padding">
    <div class="search-context" style="display: flex;">
        <div class="search-container flex-30">
            <md-input-container class="md-block" style="margin: 0;">
                    <label>Search here</label>
                    <input ng-model="vm.notificationSearchText">
            </md-input-container>
        </div>
        <div class="filter-customer flex-1">
            <md-button 
                ng-click='csv.generate()' 
                ng-href="{{ csv.link() }}"
                download="notifications.csv">Export To CSV</md-button>
        </div>
    </div>
    <div class="simple-table-container md-whiteframe-4dp">

        <table class="simple" ms-responsive-table style="text-align: center;"
                export-csv="csv" 
                separator="," 
                export-csv-ignore="edit-button">
            <thead>
                <tr>
                    <th style="text-align: center;">Customer Name</th>
                    <th style="text-align: center;">Message</th>
                    <th style="text-align: center;">Done By</th>
                    <th style="text-align: center">
                        <md-button class="md-raised" 
                        ng-click="vm.markAllNotifciationAsRead()">Mark All as Read</md-button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notification in vm.notifications | filter:vm.notificationSearchText">
                    <td style="cursor: pointer; text-decoration: underline;" ng-click="vm.openCustomerModalFromNotification($event, notification.customer_id)">{{notification.customer_name}}</td>
                    <td>{{notification.message}}</td>
                    <td>{{notification.author_name}}</td>
                    <td class="name edit-button">
                        <md-button class="md-raised" 
                                   ng-click="vm.markNotifciationAsRead(notification)">Mark as Read</md-button>
                    </td>
                </tr>
                <tr ng-if="vm.notifications.length == 0">
                    <td>No Notification found</td>
                </tr>
            </tbody>
        </table>
    </div>

</md-content>
<!-- / NOTIFICATION MANAGEMENT -->