<!-- OVERVIEW TAB -->
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <span class="md-headline">WELCOME Astroid</span>
                            <p>Here's a snapshot of your Annyya account so you can vew your usage</p>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch style="text-align: center">
            <div class="md-media-lg card-media">
                <h2 class="md-headline">Incoming Messages</h2>
                <h2 class="md-headline">{{vm.incomingMessageCount}}</h2>
            </div>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch style="text-align: center">
            <div class="md-media-lg card-media">
                <h2 class="md-headline">Outgoing Messages</h2>
                <h2 class="md-headline">{{vm.outgoingMessageCount}}</h2>
            </div>
        </md-card>
    </div>
</md-content>
<!-- / OVERVIEW TAB -->