<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task" style="max-width: 800px; width: 800px;height: 600px; max-height: 600px;">

    <!-- NO RESULTS MESSAGE -->
    <div ng-if="filteredContact.length <= 0" class="no-results-message" translate="CHAT.NO_RESULTS">
        No results..
    </div>
    <!-- NO RESULTS MESSAGE-->

    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll style="display:flex; height: 600px;">
            <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" style="padding: 10px;">
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s18"></md-icon>
                    <input flex ng-model="vm.contactSearch" type="text" placeholder="Search contact">
                </div>
            </div>
            
            <!-- CONTACTS LIST-->
            <md-list class="new-group-contact-list" style="width: 45%; height:370px;max-height: 370px; overflow: auto; margin-top: 10px;padding: 0;">
                <md-list-item class="contact md-1-line" 
                                ng-repeat="subGroup in vm.contacts | filter:vm.contactSearch"
                                style="border-bottom: 1px solid lightgrey;">
                    <div class="md-list-item-text" style="text-align: left; text-transform: none;">
                        <md-checkbox style="margin: 0;" ng-model="subGroup.checked" ng-change="vm.subGroupCheckboxClicked(subGroup)"><h3>{{subGroup.sub_group_name}}</h3></md-checkbox> 
                    </div>
                </md-list-item>
            </md-list>
            <!-- / CONTACTS LIST-->

            <md-input-container class="md-icon-float md-block" style="width: 50%; position: absolute; right: 0; padding-right: 30px;margin-top: 70px;">
                <label translate="CONTACTS.MESSAGE_REQUIRED">Message (required)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <textarea ng-model="vm.broadcast_message" rows="5" ng-required md-autofocus></textarea>
            </md-input-container>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.sendBroadcastMessage()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="SEND" translate="CONTACTS.SEND" translate-attr-aria-label="CONTACTS.SEND">
                    SEND
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->