<!-- CONTACTS TOOLBAR -->
<md-toolbar class="md-tall md-accent">
        
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top">
                <h3>
                    <span>CONTACTS ({{ vm.contacts.length }})</span>
                </h3>
        
                <!-- ADD CONTACT BUTTON -->
                <md-button style="position: absolute;right: 115px;top: 10px;border: 1px solid;" class="md-fab md-accent md-icon-button" id="add-contact-button" ng-click="vm.openBroadcastDialog($event)"
                    aria-label="add contact" translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
                    <md-icon md-font-icon="icon-wifi"></md-icon>
                    <md-tooltip md-delay="500">
                        Send broadcast message to all your tenants
                    </md-tooltip>
                </md-button>
                <!-- / ADD CONTACT BUTTON -->
        
                <!-- ADD CONTACT BUTTON -->
                <md-button style="position: absolute;right: 45px;top: 10px;border: 1px solid;" class="md-fab md-accent md-icon-button" id="add-contact-button" ng-click="vm.openContactDialog($event)"
                    aria-label="add contact" translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
                    <md-icon md-font-icon="icon-account-plus"></md-icon>
                    <md-tooltip md-delay="500">
                        Add new tenants
                    </md-tooltip>
                </md-button>
                <!-- / ADD CONTACT BUTTON -->
        
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" ng-click="$mdMenu.open()"
                                aria-label="more">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        <md-tooltip md-delay="500">
                            Click to see more options
                        </md-tooltip>
                    </md-button>
        
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.openNewGroupDialog($click)">
                                New Group
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.toggleLeftSidenavView('user')" translate="CHAT.PROFILE">
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item style="display: none;">
                            <md-button ng-click="vm.bulkImport()">
                                Bulk Import
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.chatLogoutClicked()" translate="CHAT.LOGOUT">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <!-- / TOOLBAR TOP -->
        
            <!-- TOOLBAR BOTTOM -->
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
        
                <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex>
        
                    <div class="search" flex layout="row" layout-align="start center">
        
                        <md-icon md-font-icon="icon-magnify" class="icon s18">
                        </md-icon>
        
                        <input flex ng-model="vm.contactSearch" type="text" placeholder="Search contact" translate=""
                               translate-attr-placeholder="CHAT.CONTACTS_SEARCH_PLACEHOLDER">
        
                    </div>
        
                </div>
            </div>
            <!-- / TOOLBAR BOTTOM -->
        
        </md-toolbar>
        <!-- / CONTACTS TOOLBAR -->
        
        <md-tabs md-stretch-tabs>
            <md-tab label="Recent" md-on-select="vm.onRecentChatSelected()"></md-tab>
            <md-tab label="Groups" md-on-select="vm.onVolunteersSelected()"></md-tab>
        </md-tabs>
        
        <!-- CONTACTS CONTENT -->
        <md-content flex ms-scroll ng-show="vm.volunteersSelected">
        
            <!-- CONTACTS LIST-->
            <md-list class="contact-list">
        
                <md-list-item class="contact md-3-line"
                              ng-repeat="contact in vm.contacts  | filter: {tenant_first_name: vm.contactSearch} | orderBy: 'tenant_first_name' :false | filter:query as filteredContact"
                              ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                              ng-click="vm.getChat(contact.tenant_id)"
                              style="border-bottom: 1px solid lightgrey;">
        
                    <div class="fist-letter md-accent-fg" style="display: none;"
                         ng-if="vm.contacts[$index].tenant_first_name.charAt(0) !== vm.contacts[$index-1].tenant_first_name.charAt(0)">
                        {{contact.tenant_first_name.charAt(0)}}
                    </div>
        
                    <div class="avatar-wrapper" style="display:none;">
                        <img ng-src="{{contact.avatar}}" class="md-avatar avatar" alt="{{contact.name}}"/>
                        <i class="icon icon- s16 status" ng-class="contact.status"></i>
                    </div>
        
                    <div class="md-list-item-text">
                        <h3>{{contact.sub_group_name}}</h3>
                    </div>
        
                    <div class="edit-button">
                        <md-button class="md-raised" ng-click="vm.openContactDialog($event, contact)" style="padding: 0;">Edit</md-button>
                    </div>
        
                </md-list-item>
        
            </md-list>
            <!-- / CONTACTS LIST-->
        
            
        
        </md-content>
        <!-- / CONTACTS CONTENT -->
        
        <!-- RECENT CHATS CONTENT -->
        <md-content flex ms-scroll ng-show="vm.recentChatSelected">
        <!-- RECENT CHATS LIST-->
        <md-list class="contact-list">
        
            <md-list-item class="contact md-3-line"
                            ng-repeat="contact in vm.recentChats"
                            ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                            ng-click="vm.recentChatClicked(contact.phone_number)"
                            style="border-bottom: 1px solid lightgrey;">
        
                <div class="md-list-item-text">
                    <h3>{{contact.phone_number}}</h3>
                </div>
        
            </md-list-item>
        
        </md-list>
        <!-- / CONTACTS LIST-->
        
        </md-content>
        <!-- / CONTACTS CONTENT -->