<!-- CONTACTS TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">
        <md-button class="md-icon-button" ng-click="vm.goToDashboard($event)" aria-label="back">
            <md-icon md-font-icon="icon-arrow-left"></md-icon>
            <md-tooltip md-delay="500">
                Go back to dashboard
            </md-tooltip>
        </md-button>
        <h3 style="max-width: 140px;"><span>{{vm.groupName}}</span></h3>

        <!-- ADD BROADCAST BUTTON -->
        <md-button style="position: absolute;right: 155px;top: 10px;border: 1px solid;width:45px;height:45px;" 
                   class="md-fab md-accent md-icon-button" 
                   id="add-contact-button" 
                   ng-click="vm.openBroadcastDialog($event)"
                   aria-label="add contact" 
                   translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
            <md-icon md-font-icon="icon-wifi"></md-icon>
            <md-tooltip md-delay="500">
                Send broadcast message to all your tenants
            </md-tooltip>
        </md-button>
        <!-- / ADD BROADCAST  BUTTON -->

        <!-- CONTACT LIST -->
        <md-button style="position: absolute;right: 100px;top: 10px;border: 1px solid;width:45px;height:45px;" 
                class="md-fab md-accent md-icon-button" 
                id="add-contact-button" 
                ng-click="vm.toggleShowContactList()"
                aria-label="contacts list">
            <md-icon md-font-icon="icon-message"></md-icon>
            <md-tooltip md-delay="500">
                Show Contact lists
            </md-tooltip>
        </md-button>
        <!-- / CONTACT LIST -->

        <!-- ADD CONTACT BUTTON -->
        <md-menu md-position-mode="target-right target">
            <md-button style="position: absolute;right: 45px;top: 10px;border: 1px solid;width:45px;height:45px;" 
                        class="md-fab md-accent md-icon-button" 
                        id="add-contact-button" 
                        ng-click="$mdMenu.open()"
                        aria-label="add contact" 
                        translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
                <md-icon md-font-icon="icon-account-plus"></md-icon>
                <md-tooltip md-delay="500">
                    Add new contacts
                </md-tooltip>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.openContactDialog($click)">
                        Add Contact
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.uploadContactList()">
                        Upload List
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        
        <!-- / ADD CONTACT BUTTON -->

        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdMenu.open()"
                        aria-label="more">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                <md-tooltip md-delay="500">
                    Click to see more options
                </md-tooltip>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="vm.openNewGroupDialog($click)">
                        New Group
                    </md-button>
                </md-menu-item>
                <md-menu-item style="display:none;">
                    <md-button ng-click="vm.toggleLeftSidenavView('user')" translate="CHAT.PROFILE">
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item style="display:none;">
                    <md-button ng-click="vm.toggleLeftSidenavView('archived_sub_group')">
                        Archived Group
                    </md-button>
                </md-menu-item>
                <md-menu-item style="display:none;">
                    <md-button ng-click="vm.chatLogoutClicked()" translate="CHAT.LOGOUT">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex>
            <div class="search" flex layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-magnify" class="icon s18"></md-icon>
                <input flex ng-model="vm.contactSearch" type="text" placeholder="Search contact">
            </div>
        </div>
    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CONTACTS TOOLBAR -->

<!-- CONTACT SEARCH RESULT -->
<md-content flex ms-scroll ng-show="vm.contactSearch.length > 0">
    <h3 style="margin: 0;border-bottom: 1px solid lightgray; padding: 15px;">Search result</h3>
    <md-list class="contact-list">
        <md-list-item class="contact md-3-line"
                        ng-repeat="user in vm.allUsers  | filter : vm.contactSearch"
                        ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                        ng-click="vm.getUserChat(user.user_phone_no)"
                        style="border-bottom: 1px solid lightgrey;">

            <div class="md-list-item-text">
                <h3>{{user.user_name}}</h3>
                <p>{{user.user_phone_no}}</p>
                <p>{{user.user_notes}}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
<!-- / CONTACT SEARCH RESULT -->

<!-- CONTACT LIST -->
<md-content flex ms-scroll ng-show="vm.isShowContactList">
    <md-button class="md-icon-button" ng-click="vm.isShowContactList = false" aria-label="back">
        <md-icon md-font-icon="icon-arrow-left"></md-icon>
    </md-button>
    <span style="font-size: 18px;position:relative;top:3px;">CONTACT LIST</span>
    <md-list class="contact-list">
        <md-list-item class="contact md-3-line"
                        ng-repeat="user in vm.allUsers  | filter : vm.contactSearch"
                        ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)'}"
                        ng-click="vm.getUserChat(user.user_phone_no, $index)"
                        style="border-bottom: 1px solid lightgrey;"
                        ng-class="{selectedIndex: vm.selectedIndex===$index}">

            <div class="md-list-item-text">
                <h3>{{user.user_name}}</h3>
                <p>{{user.user_phone_no}}</p>
                <p>{{user.user_notes}}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
<!-- / CONTACT LIST -->

<md-tabs md-stretch-tabs ng-show="vm.contactSearch.length == 0 && !vm.isShowContactList" class="groups-tab">
    <md-tab label="Recent" md-on-select="vm.onRecentChatSelected()" ng-if="false"></md-tab>
    <md-tab label="Groups" md-on-select="vm.onVolunteersSelected()"></md-tab>
</md-tabs>

<!-- GROUPS CONTENT -->
<md-content flex ms-scroll ng-show="vm.contactSearch.length == 0 && !vm.isShowContactList && vm.volunteersSelected">
    <!-- GROUP LIST-->
    <md-list class="contact-list">
        <md-list-item class="contact md-3-line"
                        ng-repeat="group in vm.contacts  | filter:query as filteredContact"
                        ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                        ng-click="vm.getGroupChat(group.sub_group_id, $index)"
                        style="border-bottom: 1px solid lightgrey;"
                        ng-class="{selectedIndex: vm.selectedIndex===$index}">

            <div class="md-list-item-text">
                <h3>{{group.sub_group_name}}</h3>
            </div>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdMenu.open()"
                            aria-label="more">
                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                    <md-tooltip md-delay="500">
                        Click to see more options
                    </md-tooltip>
                </md-button>
    
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="vm.openEditGroupDialog($event, group.group_id, group.sub_group_id)">
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="false">
                        <md-button ng-click="vm.archiveSubGroup($event, group.group_id, group.sub_group_id)">
                            Archive
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-list-item>
    </md-list>
    <!-- / GROUPS LIST-->
</md-content>
<!-- / GROUPS CONTENT -->

<!-- RECENT CHATS CONTENT -->
<md-content flex ms-scroll ng-show="vm.contactSearch.length == 0 && !vm.isShowContactList && vm.recentChatSelected" ng-if="false">
    <!-- RECENT CHATS LIST-->
    <md-list class="contact-list">
        <md-list-item class="contact md-3-line"
                        ng-repeat="contact in vm.recentChats"
                        ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredContact.length - $index}"
                        ng-click="vm.getUserChat(contact.message_from)"
                        style="border-bottom: 1px solid lightgrey;">

            <div class="md-list-item-text" ng-if="!contact.is_existing_user">
                <h3>{{contact.message_from}}</h3>
                <p>{{contact.message}}</p>
            </div>
            <div class="md-list-item-text" ng-if="contact.is_existing_user">
                <h3>{{contact.user.user_name}}</h3>
                <p>{{contact.message}}</p>
            </div>
        </md-list-item>
    </md-list>
    <!-- / RECENT CHATS LIST-->
</md-content>
<!-- / RECENTS CHATS CONTENT -->

