@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/angular-material-extend';
@import 'partials/layouts-template';
@import 'partials/layouts-page';
@import 'partials/animations';
@import 'partials/colors';
@import 'partials/icons';
@import 'partials/material';
@import 'partials/typography';

@import 'partials/plugins/angular-google-map';
@import 'partials/plugins/angular-moment-picker';
@import 'partials/plugins/c3';
@import 'partials/plugins/chartist';
@import 'partials/plugins/chartjs';
@import 'partials/plugins/datatable';
@import 'partials/plugins/highlight';
@import 'partials/plugins/nvd3';
@import 'partials/plugins/perfect-scrollbar';
@import 'partials/plugins/text-angular';

@import 'partials/helpers';
@import 'partials/print';

ms-theme-options {
    display: none;
}




md-toolbar {
    background-color: #f26138 !important;
}

md-dialog-actions button[disabled] {
    background-color: rgba(0,0,0,0.12) !important;
}

md-dialog-actions button {
    background-color: #f26138 !important;
}

i.icon.status {
    display: none;
}
.md-raised.google, .md-raised.facebook {
    display: none;
}
#login-form .separator {
    display: none;
}

#vertical-navigation {
    display: none !important;
}
#layout-vertical-navigation #content-container #content {
    top: 0px !important;
}
#toolbar {
    display: none !important;
}
md-tab-item {
    width: 200px;
}
.selectedIndex {
    background: lightgrey !important;
}
