<!-- CHAT APP -->
<div id="chat-app" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card" layout="row" flex>

            <!-- LEFT SIDENAV -->
            <md-sidenav ng-hide="vm.leftSidenavView ==='user'" class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-xs')"
                        md-component-id="left-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/left/views/contacts/contacts-view.html'"
                        layout="column">
            </md-sidenav>

            <md-sidenav ng-show="vm.leftSidenavView ==='user'" class="sidenav left-sidenav md-sidenav-left" md-is-locked-open="$mdMedia('gt-xs')"
                        md-component-id="left-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/left/left-sidenav.html'"
                        layout="column">
            </md-sidenav>

            <!-- START -->
            <div class="start-point" ng-if="!vm.chat" flex layout="column" flex layout-align="center center">

                <div class="big-circle md-whiteframe-4dp">

                    <md-icon class="s128 md-accent" md-font-icon="icon-hangouts"></md-icon>

                </div>

                <span class="app-title" translate="CHAT.APP_TITLE">ANNYA</span>

                <span class="hide show-gt-md secondary-text" translate="CHAT.START_MESSAGE">Select contact to start the
                    chat!..</span>
                <md-button class="md-raised hide-gt-md" ng-click="vm.toggleSidenav('left-sidenav')"
                           translate="CHAT.START_MESSAGE">
                    Select contact to start the chat!..
                </md-button>

            </div>
            <!-- / START -->

            <!-- CHAT -->
            <div ng-if="vm.chat" class="chat" layout="column" flex>

                <!-- CHAT TOOLBAR -->
                <md-toolbar class="chat-toolbar">

                    <div class="md-toolbar-tools">

                        <!-- RESPONSIVE CHATS BUTTON-->
                        <md-button class="hide-gt-md responsive-chats-button md-icon-button"
                                   ng-click="vm.toggleLeftSidenavView(false);vm.toggleSidenav('left-sidenav')"
                                   aria-label="chats button">
                            <md-icon md-font-icon="icon-hangouts s36"></md-icon>
                        </md-button>
                        <!-- / RESPONSIVE CHATS BUTTON-->

                        <!-- CHAT CONTACT-->
                        <div class="chat-contact" layout="row" layout-align="start center"
                             ng-click="vm.toggleSidenav('right-sidenav')">

                            <div class="chat-contact-name">
                                {{vm.chat_name}}
                                <h4 style="margin: 0; padding: 0;" ng-if="!vm.isBroadcastChat">{{vm.chat_phone_no}}</h4>
                            </div>

                        </div>
                        <!-- / CHAT CONTACT-->

                        <md-menu md-position-mode="target-right target" style="display:none;">

                            <md-button class="md-icon-button" ng-click="$mdMenu.open()"
                                       aria-label="more">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                <md-tooltip md-delay="500">
                                    Click to see more options
                                </md-tooltip>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.toggleSidenav('right-sidenav')" translate="CHAT.CONTACT_INFO">
                                        Contact Info
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.clearMessages($event)" translate="CHAT.CLEAR_MESSAGES">
                                        Clear Messages
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>

                        </md-menu>

                    </div>
                </md-toolbar>
                <!-- / CHAT TOOLBAR -->

                <!-- CHAT CONTENT -->
                <md-content id="chat-content" flex ms-scroll>

                    <!-- CHAT MESSAGES -->
                    <div class="chat-messages" ng-if="vm.chat">

                        <!-- MESSAGE -->
                        <div layout="row" ng-repeat="dialog in vm.chat" class="md-padding message-row"
                             ng-class="dialog.who">

                            
                        <div ng-if="dialog.who ==='contact'"
                            class="avatar" style="border: 1px solid;
                            color: grey;
                            padding: 8px;
                            width: auto;
                            height: auto;">
                            {{vm.chat_name}}
                        </div>

                        
                        <div ng-if="dialog.who ==='user'"
                             class="avatar" style="border: 1px solid;
                             color: grey;
                             padding: 0px;
                             width: 50px;
                             height: 40px;">
                            {{'Admin'}}
                        </div>

                            <div class="bubble" style="width: 50%;">
                                <div class="message">{{dialog.message}}</div>
                                <div class="time secondary-text">{{dialog.time.date | altDate}}</div>
                            </div>

                        </div>
                        <!-- / MESSAGE -->

                    </div>
                    <!-- CHAT MESSAGES -->

                </md-content>
                <!-- / CHAT CONTENT -->

                <!-- CHAT FOOTER -->
                <div class="chat-footer flex-noshrink" layout="row" layout-align="center center">

                    <!-- REPLY FORM -->
                    <form ng-submit="vm.reply()" flex class="reply-form" layout="row" layout-align="start center" ng-if="!vm.replyInProgress">
                        <md-input-container flex md-no-float>
                            <textarea 
                                      md-no-autogrow ng-model="vm.replyMessage"
                                      ng-class="{'grow': vm.textareaGrow}"
                                      placeholder="Just type and send message"
                                      translate
                                      translate-attr-placeholder="CHAT.REPLY_PLACEHOLDER">
                            </textarea>
                        </md-input-container>

                        <md-button class="md-fab" type="submit" aria-label="Send message" translate
                                   translate-attr-aria-label="CHAT.SEND_MESSAGE">
                            <md-icon md-font-icon="icon-send"></md-icon>
                        </md-button>

                    </form>
                    
                    <md-progress-circular md-mode="indeterminate" ng-if="vm.replyInProgress"></md-progress-circular>
                    
                    <!-- / REPLY FORM -->

                </div>
                <!-- / CHAT FOOTER-->

            </div>
            <!-- / CHAT -->

            <!-- RIGHT SIDENAV -->
            <md-sidenav class="sidenav right-sidenav md-sidenav-right" layout="column"
                        md-component-id="right-sidenav"
                        ms-sidenav-helper ng-include="'app/main/apps/chat/sidenavs/right/right-sidenav.html'">
            </md-sidenav>
            <!-- / RIGHT SIDENAV -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
<!-- / CHAT APP -->