<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task" style="max-width: 800px; width: 800px;height: 650px; max-height: 650px;">
        
    <!-- NO RESULTS MESSAGE -->
    <div ng-if="filteredContact.length <= 0" class="no-results-message" translate="CHAT.NO_RESULTS">
        No results..
    </div>
    <!-- NO RESULTS MESSAGE-->

    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll style="display:flex; padding-top: 15px; padding-bottom:15px;">

            <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" style="padding: 10px;">
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s18"></md-icon>
                    <input flex ng-model="vm.contactSearch" type="text" placeholder="Search contact">
                </div>
            </div>
            <!-- CONTACTS LIST-->
            <md-list class="new-group-contact-list" style="width: 45%; max-height: 435px; overflow: auto; margin-top: 10px;padding: 0;">
                <md-list-item class="contact md-1-line"
                                ng-repeat="user in vm.users | filter:vm.contactSearch"
                                style="border-bottom: 1px solid lightgrey;">
                    <div class="md-list-item-text" style="text-align: left; text-transform: none;">
                        <md-checkbox style="margin: 0;" ng-model="user.checked" ng-change="vm.userCheckboxClicked(user)"><h3>{{user.user_name}}</h3></md-checkbox> 
                    </div>
                </md-list-item>
            </md-list>
            <!-- / CONTACTS LIST-->

            <md-chips ng-model="vm.selectedUsers" md-on-remove="vm.selectedUserRemoved($chip)" placeholder="User will be added here" style="width: 50%; position: absolute; right: 0; padding-right: 30px;margin-top: 50px;">
                <md-chip-template>
                    <strong>{{$chip.user_name}}</strong>
                </md-chip-template>
            </md-chips>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center" style="padding: 5px 15px 0px 40px;">
            <div layout="row" layout-align="start center">
                <md-checkbox ng-model="vm.allSelected" ng-change="vm.allSelectedChange()" style="margin: 0;"><h3>Select All</h3></md-checkbox> 
            </div>
            <div layout="row" layout-align="start center">
                <md-input-container style="margin:0; position: relative; top: 15px;">
                    <label>Group Name</label>
                    <input type="text" ng-model="vm.subGroupName" required>
                </md-input-container>
                <md-button type="submit" ng-click="vm.createNewSubGroup()"
                            class="send-button md-accent md-raised"
                            ng-disabled="contactForm.$invalid || contactForm.$pristine"
                            aria-label="SEND"
                            ng-if="vm.createSubGroupButton">
                    CREATE GROUP
                </md-button>
                <md-button type="submit" ng-click="vm.updateSubGroup()"
                            class="send-button md-accent md-raised"
                            ng-disabled="contactForm.$invalid || contactForm.$pristine"
                            aria-label="SEND"
                            ng-if="!vm.createSubGroupButton">
                    SAVE GROUP
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->