<!-- DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">
        
    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Upload Contacts</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                            translate-attr-aria-label="CONTACTS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->
        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <ng-csv-import 
                content="csv.content"
                header="csv.header" 
                separator="csv.separator"
                result="csv.result"></ng-csv-import>

            <md-input-container class="md-icon-float md-block" flex-gt-sm style="margin-bottom: 40px; margin-top: 30px;">
                <label>Assign to a Group</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <md-select ng-model="vm.sub_group.sub_group_id" ng-change="vm.subGroupSelected()">
                    <md-option value="">Cancel your selection</md-option>
                    <md-option ng-repeat="subGroup in vm.SubGroups" value="{{subGroup.sub_group_id}}">
                        {{subGroup.sub_group_name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" style="margin-bottom: 0;">
                <label>OR provide a Group Name</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.sub_group.sub_group_name" ng-disabled="vm.sub_group_name_disabled" type="text" ng-required>
            </md-input-container>

            

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout-align="space-between center">
            <div layout-align="start center">
                <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.createNewSubGroupByUploading()"
                            class="send-button md-accent md-raised"
                            ng-disabled="contactForm.$invalid || contactForm.$pristine"
                            aria-label="SAVE">
                    UPLOAD
                </md-button>
            </div>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->