<!-- USER TOOLBAR -->
<md-toolbar class="md-tall md-accent">
    
        <!-- TOOLBAR TOP -->
        <div class="md-toolbar-tools md-toolbar-tools-top">
    
            <md-button class="md-icon-button" ng-click="vm.toggleLeftSidenavView(false)" aria-label="back">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>
    
        </div>
        <!-- / TOOLBAR TOP -->
    
        <!-- TOOLBAR BOTTOM -->
        <div class="md-toolbar-tools md-toolbar-tools-bottom" flex layout="column" layout-align="center center">
    
            <div layout="column" layout-align="center center">
    
                <img ng-src="{{vm.user.avatar}}" class="md-avatar avatar user-avatar huge" alt="{{vm.user.name}}"/>
    
                <div class="user-name">{{vm.user.name}}</div>
    
            </div>
    
        </div>
        <!-- / TOOLBAR BOTTOM -->
    
    </md-toolbar>
    <!-- / USER TOOLBAR -->
    
    <!-- USER CONTENT -->
    <md-content class="md-hue-2" flex ms-scroll ms-padding>
    
        <!-- USER MOOD -->
        <md-card>
    
            <md-card-title>Archived Groups</md-card-title>
    
            <md-card-content>
    
                <span class="mood" editable-textarea="vm.user.mood" e-rows="7" e-cols="40">
                    
                </span>
    
            </md-card-content>
    
        </md-card>
        <!-- / USER MOOD -->
    
        <!-- SETTINGS CARD -->
        
        <md-card style="display: none;">
          <md-card-title>
            Settings
          </md-card-title>
          <md-card-content>
                <div class="chatbot-mode" style="display: flex; justify-content: space-between;">
                    <p>Chatbot mode</p>
                    <p><md-switch ng-model="vm.settings.chatbotMode" aria-label="Switch 1" class="chatbot-toggle"></md-switch></p>
                </div>
          </md-card-content>
        </md-card>
    
        <!-- / SETTINGS CARD -->
    
    </md-content>
    <!-- / USER CONTENT -->